<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">ユーザ登録</div>
      <div class="panel-body">

        
        <%= form_for(@user) do |f| %>
        
          <div class="form-group">
            <%= f.label :name, 'User Name' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'email' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'password' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password__confirmation, 'password(confirmation）' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="text-right">
            <%= f.submit '登録する', class: 'btn btn-primary btn-block' %>
          </div>
        
        <% end %>
        
      </div>
    </div>
  </div>
</div>